/* --- general --- */
html, body {
height: 100%;
}
.wrapper{
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -41px 0;
}
.sub-wrapper {
	padding-bottom:60px;
}
header, footer {

	padding:10px 10px;
	background:#F5F5F5;
}
header{
	box-shadow: 0px 1px 2px #bbb;
	overflow:hidden;
	margin-bottom:40px;
	padding-bottom:1px;
}
footer {
	border-top:1px solid #ddd;
}
a:hover {
	cursor:pointer;
}
h1 {
	margin-bottom:20px;
}
.menuBox .active a {
	text-decoration:underline;
}
a:hover{
	color:#0088CC;
}
/* --- end general --- */


/* --- header --- */
.menuBox{
	float:left;
}
.menuBox, .authBox {
	margin-top:4px;
}
.authBox{
	padding-left:20px;
	padding-right:5px;
}
.authBox, .yearBox {
	float:right;
}
.yearBox{
	padding-right:0px;
}
.yearBox select {
	width:120px;
}
.yearBox form,
.yearBox form>div {
	margin-bottom:10px !important;
}
/* --- end header --- */


/* --- main page --- */
.row-headline{
	margin-bottom:10px;
}
.row-tile-list {
	margin-bottom:0px !important;
}
.row-tile-list .name {
	margin-bottom:5px;
	font-size:16px;
	font-weight:bold;
	display:block;
}
.row-tile-list .item {
	min-height:107px;
    position:relative;
	margin-bottom:20px;
	box-shadow: 1px 1px 2px #bbb;
    overflow:hidden;
	text-align:left;
	background: #F5F5F5;
	border-radius:10px;
	padding:10px 11px 15px 10px;
}
.row-tile-list .item img{
	padding-bottom:10px;
}
.row-tile-list .item .inner {
	padding-left:90px;
	min-height:90px;
	padding-bottom:20px;

}
.row-tile-list img{
	position:absolute;
	left:0px;
}
.row-tile-list .data {
	display:block;
}

.progress-small {
	position:absolute;
	bottom:-2px;
	width:100%;
	font-size:12px;
	display:block !important;
}



/* --- end main page --- */

/* --- begin one-column page ---*/
progress {
  color: #0063a6;
  width: 100%;
  height: 20px;
  border: 1px solid #0063a6;
  background: #fff;
}
progress::-webkit-progress-bar { background: #FA4F37;}
progress::-webkit-progress-value { background: #69EB63; }

.entity {
  float:left;
  text-align:left;
}
.entities_list .progress {
  min-height:15px;

}
.entities_list {

  margin: 0 auto;
  margin-top: 20px;
}
#group_progress_chart{
  display: block;
  margin-left: auto;
  margin-right: auto;
  position:relative;
}

.group_progress_chart{
  margin-top: 25px;
  position:relative;
}
/* --- end one-column page ---*/


/* --- Nazaruk Sergii CSS --- */
/* Modal History */
.history-modal          { display: block; margin-bottom: 20px; }
#myModal				{ display: none; width: 600px; border-radius: 6px 6px 6px 6px;
						  margin: 0 auto;
    					}
#myModal.active			{ position: fixed; z-index: 1050; opacity: 1; background-color: white;
    					  left: 10%; right: 10%; top: 10%;
    					}
/* Progress */
#create-btn				{ display: block; margin: 0 auto;}
#task-progress			{ margin-bottom: 20px; }

/*Yasinishyn start*/
.red{
	color: red;
}
.a-little-margin-right{
	margin-right: 10px;
	margin-top: 7px;
}
.a-litle-hint{
	color: grey;
	font-size: 10px;
}
#menage-department-import textarea{
	width: 98%;
}
#content-table tr td > input, #content-table tr td > select{
	width: 50% !important;
}
.departments-buttons{
	margin-left: 0 !important;
}
/*Yasinishyn end*/