  <% if (buttons.create) {%>

    <button class='btn btn-primary new-button' id='newElement'>New smth</button>

  <% } %>  
  <button class='btn open-modal-import' type="button" data-toggle="modal" data-target='manage-department-import'>Імпорт в базу даних</button>

  <div class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" id='manage-department-import'>
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h3>Import Smth</h3>
    </div>
    <div class="modal-body">
      <p class='a-litle-hint'>Type in new Smth, and separate them by commas. For example "DepartmentName DepartmentHead DepartmentFaculty, AnotherDepartmentName AnotherDepartmentHead......., and so on."</p>
      <p><textarea rows="10" cols="45" name="text"></textarea></p>
    </div>
    <div class="modal-footer">
      <button class="btn close-m">Import</button>
    </div>
  </div>