  <% var input_class;
     var text_class; 
    if (newModel){ 
      var input_class = 'tab-input' 
      var text_class = 'tab-text'
    } else { 
        input_class = 'tab-input toggle-input'
        text_class = 'tab-text toggle-text'
    }; %>


<% for(var f in conf.fields){ %>
    

  <td <% if (newModel) {%> id="newElementRow" <% }%>>
    
    <% //-------- it is a text field %>

    
    <% if (conf.fields[f]['type'] == 'text'){ %>

      <input type="text" name="<%=f %>" class="<%= input_class %>" value="<%= model[f] %>"/>
      <span class="<%= text_class %>">
        <%=  model[f] || 'blah' %>
      </span>



    <% //-------- it is a select field %>

    <% } else if (conf.fields[f]['type'] == 'select') { %>
          
      <select class="select <%= input_class %>" name="<%=f %>">
        

        <% var options_array = conf.fields[f]['collection'].toJSON(); %>

        <% for (i=0; i<options_array.length; i++){ %>
         
         <%//-----add 'selected' to current option %>
          
          <%if((options_array[i]['id'] == model[f])){ %>
            
            <% var active_name = options_array[i]['name']; %>
             <option value="<%= options_array[i]['id'] %>" selected>
               <%= active_name %>
             </option>

          <% } %>
                    
          <%//-----print options from loaded collection %>
          
          <option value="<%= options_array[i]['id'] %>">
            <%= options_array[i]['name'] %>
          </option>
                    
        <% } %>


      </select> 

      <span class="<%= text_class %>">  
        <%=  active_name || '<i class="empty">Пусте поле</i>'%>
      </span>



    <% //-------- it is a static field %>     

    <% } else if (conf.fields[f]['type'] == 'static') {%>      

      <span class="<%= text_class %>">
        <%=  model[f] %>
      </span>
     
    <% } %>

  </td>

<% } %>





<% if (newModel){ %>
  <td></td>
  <td class="text-left">
    <button class='btn btn-success' id='create_button'>Додати</button>
  </td>
  

<% } else { %>

  <td class="text-right">

    <% if (model['role_pending'] == true){ %>
      <button class='btn btn-warning verify-button' type="button" data-toggle="modal" data-target=''>Підтвердити</button>
   <% } else { %>
      <span class="text-left empty">Підтверджений &nbsp;&nbsp;</span>
   <% } %>

  </td>

  

    <% if (!conf['buttons'] || conf['buttons']['employee'] == true) { %>
      <td>
          <a href="#" class='employee-button  open-modal'><button class='btn' type="button" data-toggle="modal" data-target='employee-modal'>Викладачі кафедри</button></a>
      </td>
    <% } %>

    <% if (!conf['buttons'] || conf['buttons']['remove'] != false) { %>
      <td>
        <button class='btn open-modal delete-button btn-danger' type="button" data-toggle="modal" data-target='delete-modal'>Видалити</button>
      </td>
    <% } %>

    <% if (conf['buttons'] && conf['buttons']['edit']) { %>
      <td>
        <button class='btn open-modal edit-button' type="button" data-toggle="modal"  data-target='delete-modal'>Редагувати</button>
      </td>
    <% } %>

 

<% } %>