	<div class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" id='delete-modal'>
	  <button type="button" class="close a-little-margin-right" data-dismiss="modal" aria-hidden="true">&times;</button>
	  
	  <div class="modal-body">
	    <h1 class='red'>Are you sure?</h1>
	    <p>this may ...tra...la...la...</p>
	  </div>
	  <div class="modal-footer">
	    <button class="btn close-m confirm-no">No</button>
	    <button id = "remove_button" class="btn btn-danger confirm-yes">Yes</button>
	  </div>
	</div>