	<div class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" id='delete-modal'>
	  <button type="button" class="close a-little-margin-right" data-dismiss="modal" aria-hidden="true">&times;</button>
	  
	  <div class="modal-body">
	    <h1 class='red'>Ви впевнені ?</h1>
	    <p>Натисніть "Так" або "Enter" для видалення</p>
	  </div>
	  <div class="modal-footer">
	    <button class="btn close-m confirm-yes">Так</button>
	    <button id = "remove_button" class="btn btn-danger confirm-no">Ні</button>
	  </div>
	</div>