<div class="tabbable tabs-left">

    <div class="tab-content">
        <div class="tab-pane active" id="backUp">
            <div class="DBTab">
                <h4>Full backup</h4>
                <p>
                  Виконує повний бекап бази даних та надсилає його Вам.<br><strong>Увага!<strong> Може спричиняти затримки у роботі системи</strong>
                </p>


                <a href="/backup/full_backup"><input type="button" id="newBackup" class='btn' value="Create and Download Full Backup"></a>
            </div>
        </div>
    </div>
</div>