<h3 id="work_name"><%= work.get("name") %></h3>
<button class="btn" id="edit_name">Змінити назву роботи</button>
<h4>Тут вставити ім’я студента з id: <%= work.get("student_id") %></h4>
<h5>Бобало Юрій</h5>

<div>
  <a href="#myModal" role="button" class="span1 offset11 history-modal" data-toggle="modal">історія</a>
</div>

<ul id="sortable">
  <%= tasksList %>
</ul>

<form>
  <fieldset>
    <legend>Створити завдання</legend>
    <label>Назва завдання</label>
    <input id="task-name" class="input-xxlarge" type="text">
    <button type="submit" id="create-btn">Створити</button>
  </fieldset>
</form>