<div id="myModal" class="active text-left" id="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <p id="myModalLabel">Історія</p>
    </div>
    <div class="modal-body">
        <ol class="modal-list">
            <% _.each(historymodal, function(item) {%>
            <div class="row-fluid">
            <ul style="list-style-type: none;">
                <span class="span1"><%= item.get("auditable_type") %></span>
                <span class="span2"><%= item.get("action") %></span>
                <span class="span3"><%= item.get("value") %> </span>
                <span class="span2"><%= item.get("user_name") %></span>
                <span class="span4"><%= item.get("created_at") %></span>
            </ul>
            </div>
            <% }); %> 
        </ol>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Закрити</button>
    </div>
</div>