<h3 id="work_name"><%= work.get("name") %></h3>
<button class="btn editable" id="edit_name" style="display: none;">Змінити назву роботи</button>
<h4>Анакін Скайуокер <%= work.get("student_id") %></h4>
<h5>Обі Ван Кенобі</h5>

<div class="container work-buttons">
  <a id="edit-tasks-on-work-page" class="btn span2 pull-left">Редагувати</a>
  <a href="#myModal" class="btn span2 pull-left" data-toggle="modal">Історія</a>
  <a id="show-create-task-form" class="btn span2 pull-left">Додати</a>

</div>
<form id="add-new-task" class="span12" style="display: none;">
	<hr class="add-task-line">
    <input id="task-name" class="input-xxlarge pull-left width80" type="text" placeholder="Назва завдання">
    <button type="submit" id="create-btn" class="btn pull-left">Створити</button>
</form>

<div id="edit-task-dialogue"></div>
<ul id="list-of-tasks">
  <%= tasksList %>
</ul>
