<div id="myModal" class="active text-left" id="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <p id="myModalLabel">Історія</p>
    </div>
    <div class="modal-body">
        <ol class="modal-list">
            <% _.each(historymodal, function(item) {%>
            <div class="row-fluid">
            <ul style="list-style-type: none;">
                <span class="span7"><%= item.get("value") %> </span>
                <span class="span5"><%= item.get("date") %></span>
            </ul>
            </div>
            <% }); %> 
        </ol>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Закрити</button>
    </div>
</div>