<div class="row-fluid row-headline">
  <h1 class="span12">
    Назва навчального закладу
  </h1>  
</div>
  
<div class="equal-height">
  
  <% _.each(faculties, function(faculty, id){ %>
    
    <% if ((id)%3 == 0) { %>
      <div class="row-fluid row-progress row-tile-list">
    <% } %>
       
        <div class="span4 item">
          <div class="sup-inner">
            
            <div class="inner text-center">
              
              <img src=<%= faculty.get('img') %> />
              <a class="fname" href=#/faculty/<%= faculty.get('id') %>><%= faculty.get('name') %></a>

            </div>

            <span class="data progress-small">
              
              <span class="text">прогрес</span>
              <span class="percentage"><%= faculty.get('progress') %>%</span>
             
              <div class="progress progress-striped">
                <div class="bar" style="width:<%= faculty.get('progress')%>%" ></div>
              </div>

           </span>

          </div>
        </div>
          
      
        <% if ((id+1)%3 == 0) { %>
          </div>
        <% } %>

  <% }); %>

</div>
