/* --- general --- */
html, body {
height: 100%;
}
.wrapper{
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -41px 0;
}
.sub-wrapper {
	padding-bottom:60px;
}
footer {
	border-top:1px solid #ddd;
	padding:10px 10px;
	background:#F5F5F5;
}
a:hover {
	cursor:pointer;
}
h1 {
	margin-bottom:20px;
}
.menuBox .active a {
	text-decoration:underline;
}
a:hover{
	color:#0088CC;
}
#tab-content td{
}
.toggle-list .toggle-input {
	display:none;
	margin-bottom:0px;

}
/* --- end general --- */


/* --- header --- */
header .navbar .yearBox .control-group, header .navbar .yearBox .form-horizontal{
	margin:0 !important;
}
header .control-group .control-label{
	margin-top: 5px; 
}
.menuBox{
	float:left;
}

.authBox{
	padding-left:20px;
	padding-right:5px;
}
.authBox, .yearBox {
	float:right;
}
.yearBox{
	padding-right:0px;
}
.yearBox .bootstrap-select {
	width:120px;
}

.yearBox form,
.yearBox form>div {
	margin-bottom:10px !important;
}
/* --- end header --- */


/* --- main page --- */
.row-headline{
	margin-bottom:10px;
}
.row-tile-list {
	margin-bottom:0px !important;
}
.row-tile-list .name {
	margin-bottom:5px;
	font-size:16px;
	font-weight:bold;
	display:block;
	text-shadow:0px 1px 0px #FFFFFF;
}
.row-tile-list .item {
	min-height:107px;
    position:relative;
	margin-bottom:20px;
	box-shadow: 1px 1px 2px #bbb;
    overflow:hidden;
	text-align:left;
	background: #F5F5F5;
	border-radius:10px;
	padding:0px 11px 0px 10px;
}
.row-tile-list .item img{
	padding-bottom:10px;
}
.row-tile-list .item .inner {
	padding-left:90px;
	min-height:90px;
	padding-bottom:20px;
	padding-top:10px;

}
.row-tile-list img{
	position:absolute;
	left:0px;
}
.row-tile-list .data {
	display:block;
}
.sup-inner{
	height:100%;
	width:100%;
	position:relative;
	overflow:hidden;
}
.progress-small {
    bottom: 10px;
    display: block !important;
    font-size: 12px;
    width: 100%;
}
.progress-small .progress{
	margin-top:2px;
	margin-bottom:5px;
	height:5px;
	width:100%;
	font-size:12px;
	display:block !important;
	opacity:0.7;
	background:#fff;
	box-shadow:0px 0px 2px #bbb;
	}

.progress-small .percentage {
    float: right;
}
/* --- end main page --- */

/* --- begin one-column page ---*/
progress {
  color: #0063a6;
  width: 100%;
  height: 20px;
  border: 1px solid #0063a6;
  background: #fff;
}
progress::-webkit-progress-bar { background: #FA4F37;}
progress::-webkit-progress-value { background: #69EB63; }

.entity {
  float:left;
  text-align:left;
}
.entities_list .progress {
  min-height:15px;

}
.entities_list {

  margin: 0 auto;
  margin-top: 20px;
}
#group_progress_chart{
  display: block;
  margin-left: auto;
  margin-right: auto;
  position:relative;
}

.group_progress_chart{
  margin-top: 25px;
  position:relative;
}
/* --- end one-column page ---*/


/* --- Nazaruk Sergii CSS --- */
/* Modal History */
.history-modal          { display: block; margin-bottom: 20px; }
.modal-list				{ font-size: 12px; }
#myModal				{ display: none; width: 600px; border-radius: 6px; margin: 0 auto; }
#myModal.active			{ position: fixed; z-index: 1050; opacity: 1; background-color: white;
    					  left: 10%; right: 10%; top: 10%;
    					}
/* Progress */
#create-btn				{ display: block; margin: 0 auto;}
#task-progress			{ margin-bottom: 20px; }

/*Yasinishyn start*/
.red{
	color: red;
}
.a-little-margin-right{
	margin-right: 10px;
	margin-top: 7px;
}
.a-litle-hint{
	color: grey;
	font-size: 10px;
}
#menage-department-import textarea{
	width: 98%;
}
#content-table tr td > input, #content-table tr td > select{
	width: 50% !important;
}
.departments-buttons{
	margin-left: 0 !important;
}
/*Yasinishyn end*/
/*****start task page*****/

.rightContent{
  text-align: right;
}
.centeredContent{
	text-align: center;
}
.boldText{
	font-weight: bold;
}
.italicText{
	font-style: italic;
}
.mainbar{
	margin: 5px;
}
.btn-navbar{
	margin-bottom: 5px;
}
#chart{
	margin-bottom: 15px;
}
hr.task-comment-line{
	margin: 5px 0 !important;
}
#input-log{
	margin: 0;
}
.display-block{
	display: block;
}
#line-range{
	min-height:0;
	margin: 7px 12px;
}
.ui-spinner-input{
	width: 30px;
}
.add-comment{
	margin: 15px 0 0 0;
}
.left-side{
	text-align: left;
}

/*****end task page*****/

/*-----enter form---------*/
.roleStudent, .roleTeacher{

}
#launch{
	top:46px;
	position: absolute;
	right:0;
	overflow: hidden;
	background: ;
	border-radius: 0 0 0 100px;
	box-shadow: 4px 1px 1px #BBBBBB;/**/
	width:400px;
	display: none;
	z-index: 999;
}
#launch h3, #launch-reg h3{
	text-align: center;
	opacity: .8;
	margin-bottom: 30px;
}
#launch #close-btn{
	position:absolute;
	color:gold;
	bottom: 45px;
	left:0px;
	font-size:.8em;
	width: 100px;
	box-shadow: -1px 1px 3px #000;
	transform: skew(-25deg, 0deg) matrix(2.3, 1.6, -0.4, 1, 0, 0);
	-webkit-transform: skew(-25deg, 0deg) matrix(2.3, 1.7, -0.4, 1, 0, 0);
	-o-transform: skew(-25deg, 0deg) matrix(2.3, 1.7, -0.4, 1, 0, 0);
	-ms-transform: skew(-25deg, 0deg) matrix(2.3, 1.7, -0.4, 1, 0, 0);
}
#launch #close-btn:hover{
	box-shadow: -1px 1px 2px #000;
}
#launch input{
	background-color:transparent;
}
#launch #form-checkbox{
	font-size: .8em;
}
#launch select{
	background:transparent;
}
#regMod{
	display: none;
}


.gradient {
	background: #F5F5F5; /* Для старых браузров */
	background: -moz-linear-gradient(top, #F5F5F5, #F5F5F5, #fff); /* Firefox 3.6+ */
	/* Chrome 1-9, Safari 4-5 */
	background: -webkit-gradient(linear, left top, left bottom,
	            color-stop(0%,#f6f4f4), color-stop(30%,#F5F5F5), color-stop(100%,#fff));
	/* Chrome 10+, Safari 5.1+ */
	background: -webkit-linear-gradient(top, #F5F5F5, #F5F5F5, #fff);
	background: -o-linear-gradient(top, #F5F5F5, #F5F5F5, #fff); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #F5F5F5, #F5F5F5, #fff); /* IE10 */
	background: linear-gradient(top, #F5F5F5, #F5F5F5, #fff); /* CSS3 */
	padding: 10px;
	border-bottom: 1px solid #333;
}
.center{
	text-align: center;
}
div.help-block ul li{
	list-style-type: none;
	margin-left:-20px;
}

/*--end enter form---------*/





/*----admin page----*/
#tab-content th{
	white-space: nowrap !Important;
}
#tab-menu .nav-tabs .active:hover,
#tab-menu .nav-tabs .active {
    background-color:#0088CC !important;
    color: #fff;
}
#tab-menu .nav-tabs a{
    border:none !Important;
    border-bottom:1px solid #0088cc !important;
}	

#tab-menu .nav-tabs a:hover {
	background-color:#CFE4FC !Important;
}
#tab-menu .nav-tabs {
	border-bottom: 1px solid #0088CC;
}
#tab-content table td,
#tab-content table th{
	border:none;
}
#tab-content td {
	vertical-align:middle;
}
#tab-content table tr:first-child{
	border-top:none;
}
#tab-content table tr{
	border-top: 1px solid #DDDDDD;
}
tr.notverified {
	background:#FAFAA5;
	outline:2px solid yellow;
}    
.needs-verification {
	padding-left:30px !important;
	background-image: url('../i/questionmark_yellow.png') !important;
	background-position: 8px 9px;
	background-repeat: no-repeat;
}
#tab-content td.text-right button {
	margin:0px 5px;
}
#tab-content td.text-right {
	text-align:right;
}
#tab-content td.text-right .buttonContainer{
	text-align:left;
    display:inline-block;

}
.admin-headline {
	margin-top:25px !Important;
}

.wysiwyg {
	overflow:hidden;
}



/* oohurtc */

.heading {
	font-size: 30px;
	font-style: italic;
	text-align: center;
	margin-bottom: 30px;
	margin-top: 30px;
}

.title {
	font-size: 20px;
	font-style: italic;
	margin: 0 auto;
	text-align: center;
	margin-bottom: 20px;
}

.content {
	margin: 0 auto;
	margin-bottom: 30px;
	margin-top: 30px;
}

.element {
	margin-bottom: 10px;
}

.dividing_line {
	border-top: 2px solid #808080 !important;
}

.element div {
	display: inline-block;
}

#firstList, #secondList {
	margin: 0 auto;
	margin-top: 20px;
}

.name {
	text-align: left;
}

.element_name {
	text-align: left;
}

.progressBar {
	margin-bottom: -4px;
	margin-left: 15px;
}

#chart {
	border-style: ridge;
	margin: 0 auto;
	padding-top: 25px;
	height: 300px;
}

.containerDb {
	width: 100px;
	margin: 0 auto;
	margin-top: 10px;
	height: 25px;
}

.tab-content {
	overflow: visible;
}

.DBTab {
	text-align: left;
}

#imgLoader {
	display: none;
	width: 60px;
	margin: 0 auto;
	margin-top: 25px;
}

#loadFile {
	overflow: hidden;
	width: 75px;
	height: 20px;
}

#loadFile input {
	margin-top: -50px;
	margin-left: -410px;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
	opacity: 0;
	font-size: 150px;
	height: 100px;
}

#loadData {
	margin-top: 10px;
}

#name {
	display: inline-block;
}

#dialogAddStudentWork {
  display: none;
  top: 0;
  width: auto;
  heigth: auto;
  text-align: left;
}


/****************/
#sortable { 
  list-style-type: none; 
  margin: 0; 
  padding: 0; 
  clear: both;
}
.draggable-item {
  border: 1px solid #f3f3f3;
  border-radius: 10px;
  padding: 3px;
  margin-bottom: 5px;
  background: #fff;
}
.draggable-item:hover {
  border: 1px solid #ddd;
}
.draggable-item:active {
  background: #f9f9f9
}
.taskname {
  min-height: 20px !important;
}
.task-item-progress{
  min-height: 20px !important; 
  margin-bottom: 0 !important;
}
.ui-icon-arrowthick-2-n-s {
  cursor: pointer;
}
/*--------breadcrumbs navigation-----------*/
.breadcrumb{
	background: transparent;
	margin-top: -20px;
}
.breadcrumb li:last-child a{
	color:inherit;
}
.breadcrumb li:last-child a:hover, .breadcrumb li:last-child{
	text-decoration: none;
	cursor: default;
}
<<<<<<< HEAD
#main-header-button{
	
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #050505;
	background: -moz-linear-gradient(
		top,
		#ffffff 0%,
		#ebebeb 50%,
		#dbdbdb 50%,
		#b5b5b5);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#ffffff),
		color-stop(0.50, #ebebeb),
		color-stop(0.50, #dbdbdb),
		to(#b5b5b5));
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: 1px solid #949494;
	-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 2px rgba(255,255,255,1);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 2px rgba(255,255,255,1);
	box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 2px rgba(255,255,255,1);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.2),
		0px 1px 0px rgba(255,255,255,1);


}#main-header-button:hover{
	
	background: -moz-linear-gradient(
		top,
		#ffffff 0%,
		#dbdbdb 50%,
		#b5b5b5);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#ffffff),
		color-stop(0.50, #ebebeb),
		to(#b5b5b5));
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: 1px solid #949494;
	-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 2px rgba(255,255,255,1);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 2px rgba(255,255,255,1);
	box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 2px rgba(255,255,255,1);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.2),
		0px 1px 0px rgba(255,255,255,1);


}

/*--------breadcrumbs navigation end-------*/
/*--------dataTable styles (table for groups in admin area for example)------*/

div.dataTables_length label {
	float: left;
	text-align: left;
}

div.dataTables_length select {
	width: 75px;
}

div.dataTables_filter label {
	float: right;
}

div.dataTables_info {
	padding-top: 8px;
}

div.dataTables_paginate {
	float: right;
	margin: 0;
}

table.table {
	clear: both;
	margin-bottom: 6px !important;
	max-width: none !important;
}

table.table thead .sorting,
table.table thead .sorting_asc,
table.table thead .sorting_desc,
table.table thead .sorting_asc_disabled,
table.table thead .sorting_desc_disabled {
	cursor: pointer;
	*cursor: hand;
}

table.table thead .sorting { background: url('../i/datatables/sort_both.png') no-repeat center right; }
table.table thead .sorting_asc { background: url('../i/datatables/sort_asc.png') no-repeat center right; }
table.table thead .sorting_desc { background: url('../i/datatables/sort_desc.png') no-repeat center right; }

table.table thead .sorting_asc_disabled { background: url('../i/datatables/sort_asc_disabled.png') no-repeat center right; }
table.table thead .sorting_desc_disabled { background: url('../i/datatables/sort_desc_disabled.png') no-repeat center right; }

table.dataTable th:active {
	outline: none;
}

/* Scrolling */
div.dataTables_scrollHead table {
	margin-bottom: 0 !important;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

div.dataTables_scrollHead table thead tr:last-child th:first-child,
div.dataTables_scrollHead table thead tr:last-child td:first-child {
	border-bottom-left-radius: 0 !important;
	border-bottom-right-radius: 0 !important;
}

div.dataTables_scrollBody table {
	border-top: none;
	margin-bottom: 0 !important;
}

div.dataTables_scrollBody tbody tr:first-child th,
div.dataTables_scrollBody tbody tr:first-child td {
	border-top: none;
}

div.dataTables_scrollFoot table {
	border-top: none;
}




/*
 * TableTools styles
 */
.table tbody tr.active td,
.table tbody tr.active th {
	background-color: #08C;
	color: white;
}

.table tbody tr.active:hover td,
.table tbody tr.active:hover th {
	background-color: #0075b0 !important;
}

.table-striped tbody tr.active:nth-child(odd) td,
.table-striped tbody tr.active:nth-child(odd) th {
	background-color: #017ebc;
}

table.DTTT_selectable tbody tr {
	cursor: pointer;
	*cursor: hand;
}

div.DTTT .btn {
	color: #333 !important;
	font-size: 12px;
}

div.DTTT .btn:hover {
	text-decoration: none !important;
}


ul.DTTT_dropdown.dropdown-menu a {
	color: #333 !important; /* needed only when demo_page.css is included */
}

ul.DTTT_dropdown.dropdown-menu li:hover a {
	background-color: #0088cc;
	color: white !important;
}

/* TableTools information display */
div.DTTT_print_info.modal {
	height: 150px;
	margin-top: -75px;
	text-align: center;
}

div.DTTT_print_info h6 {
	font-weight: normal;
	font-size: 28px;
	line-height: 28px;
	margin: 1em;
}

div.DTTT_print_info p {
	font-size: 14px;
	line-height: 20px;
}



/*
 * FixedColumns styles
 */
div.DTFC_LeftHeadWrapper table,
div.DTFC_LeftFootWrapper table,
table.DTFC_Cloned tr.even {
	background-color: white;
}

div.DTFC_LeftHeadWrapper table {
	margin-bottom: 0 !important;
	border-top-right-radius: 0 !important;
	border-bottom-left-radius: 0 !important;
	border-bottom-right-radius: 0 !important;
}

div.DTFC_LeftHeadWrapper table thead tr:last-child th:first-child,
div.DTFC_LeftHeadWrapper table thead tr:last-child td:first-child {
	border-bottom-left-radius: 0 !important;
	border-bottom-right-radius: 0 !important;
}

div.DTFC_LeftBodyWrapper table {
	border-top: none;
	margin-bottom: 0 !important;
}

div.DTFC_LeftBodyWrapper tbody tr:first-child th,
div.DTFC_LeftBodyWrapper tbody tr:first-child td {
	border-top: none;
}

div.DTFC_LeftFootWrapper table {
	border-top: none;
}

/*auth*/
#capcha-canvas{
	margin-right: 20%;
	border-bottom: 1px solid #ededed;
	background: #fafdfd;
}
#capcha-field{
	width: 120px;
	margin-right: 5px;
}
#capcha img{
	width: 20px;
	height: 20px;
	max-height: 20px;
	max-width: 20px;
}
.help-block{
	font-size: 10px;
	color: grey;
}
#regForm .controls, #editForm .controls{
	width: 35%;
}

