
.heading {
    font-size: 30px;
    font-style: italic;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px;
}
.title {
    font-size: 20px;
    font-style: italic;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 20px;
}
.content{
    margin: 0 auto;
    margin-bottom: 30px;
    margin-top: 30px;
}
.element{
 margin-bottom: 10px;
}
.dividing_line {
    border-top: 2px solid #808080 !important;
}
.element div {
 display: inline-block;
}
#firstList, #secondList{
    margin: 0 auto;
    margin-top: 20px;
}
.name{
    text-align: left;
}
.element_name {
    text-align: left;
}
.progressBar{
    margin-bottom: -4px;
    margin-left: 15px;
}
#chart{
    border-style: ridge;
    margin: 0 auto;
    padding-top: 25px;
    height: 300px;
}
.containerDb {
    width:100px;
    margin: 0 auto;
    margin-top: 10px;
    height:25px;
}

.tab-content {
    overflow: visible;
}
.DBTab{
    text-align: left;
}
#imgLoader{
   display: none;
   width: 30px;
   margin: 0 auto;
   margin-top: 25px;
}
#loadFile{
    overflow: hidden;
    width: 75px;
    height: 20px;
}

#loadFile input{
    margin-top: -50px;
    margin-left:-410px;
    -moz-opacity: 0;
    filter: alpha(opacity=0);
    opacity: 0;
    font-size: 150px;
    height: 100px;
}
#submit{
    width: 101px;
    margin-top: 10px;
}
#name{
    display: inline-block;
}