<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>

<h3>Зміни в <%= @record_name  %> <a href="<%= @record_url %>"><%= @record.name %> </a> </h3>

<%= @thesis_change.value %>
</body>
</html>