<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>

<h3><a href="<%= @record_url %>"><%= @record.class.to_s %></a> has been changed by <%= @thesis_change.user_name %> </h3>

<%= @thesis_change.value %>
</body>
</html>