<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @table_dictionary.name %>
</p>


<%= link_to 'Edit', edit_table_dictionary_path(@table_dictionary) %> |
<%= link_to 'Back', table_dictionaries_path %>
