<div class="modal hide fade text-center" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" id='delete-modal'>
  <button type="button" class="close a-little-margin-right" data-dismiss="modal" aria-hidden="true">&times;</button>

  <div class="modal-body">
    <h1 class='red' id='delete-modal_header'><%= header %></h1>
    <p id='delete-modal_message'><%= message %></p>
    <p>Натисніть "Так" для видалення</p>
  </div>
  <div class="modal-footer">
    <button id = "remove_button" class="btn confirm-no">Ні</button>
    <button class="btn close-m btn-danger confirm-yes">Так</button>

  </div>
</div>