  
<div id="search-main-block">
	<form>
		
		<div id="search-block">
			<div id="input-box">
				<input id="search-field" type='text' placeholder="Пошук">
			</div>
			<div id="select-box">
				<select id="faculty_select">
					<option>факультет</option>
					<option>факультет 1</option>
					<option>факультет 2</option>
					<option>факультет 3</option>
					<option>факультет 4</option>
					<option>факультет 5</option>
					<option>факультет 6</option>
					<option>факультет 7</option>
					<option>факультет 8</option>
				</select>
				
				<select id="course_select">
					<option>курс (тільки для студента)</option>
					<option>курс 1</option>
					<option>курс 2</option>
					<option>курс 3</option>
					<option>курс 4</option>
					<option>курс 5</option>
				</select>
			</div>
		</div>
		<div id="list-div">
			<ol>
				<li><a>last name - name - middle name<br><span>Студент факультету: 1, курсу:1, кафедри: 2;</span></a></li>
				<li><a>last name - name - middle name<br><span>Студент факультету: 1, курсу:1, кафедри: 2;</span></a></li>
				<li><a>last name - name - middle name<br><span>Студент факультету: 1, курсу:1, кафедри: 2;</span></a></li>
				<li><a>last name - name - middle name<br><span>Студент факультету: 1, курсу:1, кафедри: 2;</span></a></li>
				<li><a>last name - name - middle name<br><span>Студент факультету: 1, курсу:1, кафедри: 2;</span></a></li>
				<li><a>last name - name - middle name<br><span>Студент факультету: 1, курсу:1, кафедри: 2;</span></a></li>
				<li><a>last name - name - middle name<br><span>Студент факультету: 1, курсу:1, кафедри: 2;</span></a></li>
				<li><a>last name - name - middle name<br><span>Студент факультету: 1, курсу:1, кафедри: 2;</span></a></li>
				<li><a>last name - name - middle name<br><span>Студент факультету: 1, курсу:1, кафедри: 2;</span></a></li>
				<li><a>last name - name - middle name<br><span>Студент факультету: 1, курсу:1, кафедри: 2;</span></a></li>
			</ol>
		</div>
    	<div id="myPager" class="pagination"></div>
    	<script type="text/javascript">
    		$('#myPager').pagination(100,{callback:function(page,component){
			    console.info(page);
			}});
    	</script>
	</form>
</div>   