<div id="search-container">
  <div id="search-block">
    <form class="form-search">
      <input id="search-field" class="search-query" type='text' placeholder="Пошук">
      <button id="searchFormButton" type="button" class="btn">Найти</button>
    </form>  
    <div id="select-box" class="btn-group">
      <select id="faculty_select">
        <option>факультет не вибраний</option>
      </select>
      
      <select id="course_select">
        <option>курс не вибраний</option>
      </select>
    </div>
  </div>
  <table class="searchDataTable table table-hover">
    <thead>
      <tr>
        <th></th>
        <th>прізвище</th>
        <th>ім'я</th>
        <th>по-батькові</th>
        <th>факультет</th>
        <th>кафедра</th>
        <th>курс</th>
        <th>статус</th>
      </tr>
    </thead>
    <tbody>
      
    </tbody>
  </table>
</div>

