<h2>
  <%= teacher.last_name %>
  <%= teacher.name %>
  <%= teacher.middle_name %>
</h2>
<h3>
  <%= teacher.degree %>, <%= teacher.title%>
</h3>
<h4><%= teacher.department_name %></h4>

<% if ((GlobalUser.checkRole('teacher').status == true) && (GlobalUser.currentUser.attributes.role_pending == false) && (GlobalUser.currentUser.attributes.teacher_attributes.teacher_id == teacher.id)) { %>
  <div class="row-fluid">
    <div class="span12 centeredContent">
      <p>
        <a data-target="#dialogAddStudentWork" data-toggle="modal">Додати роботу</a> |
        <a href="<%= '#teacher/' + teacher.id%>" <% if (activeLink == "teacherWorksPage") {%>class="active"<%}%> >Управління тезами</a> |
        <a href="<%= '#teacher/' + teacher.id + '/group' %>" <% if (activeLink == "teacherGroupPage") {%>class="active"<%}%> >Підтвердити студентів</a>
      </p>

    </div>
  </div>
<% } %>

<div id="teacherPageContent"></div>

<div id="teacherAddWorkDialogContent"></div>