<td><%= counter %>.&nbsp;<%= name %></td>
<td><%= email %></td>
  <% if (role_pending != 0) { %>
    <td><div class="text_yellow">Не підтверджений</div></td>
    <td><input type="button" value="Підтвердити" class="btn btn-success confirmLoginStudent"></td>
  <% } else { %>
    <td><div class="text_green">Підтверджений</div></td>
    <td><input type="button" value="Заборонити" class="btn btn-warning forbidLoginStudent"></td>
  <% } %>
<td>
  <!-- Button for remove student if bad group -->
  <input type="button" value="Відхилити" class="btn btn-danger" data-target="#dialogRejectStudentFromGroup" data-toggle="modal">
</td>