<section>

  <div id="dialogAddStudentWork" name="dialogAddStudentWork" class="modal hide fade">

    <form id="taskCreateForm">

      <div class="modal-header">
        <button class="close" data-dismiss="modal">×</button>
        <h3>Створення завдання</h3>
      </div>

      <div class="modal-body">

        <div class="control-group">
          <label class="control-label" for="inputWorkName">Введіть назву роботи:</label>
          <div class="controls">
            <textarea class="logForm bootStrapFullRowElement" id="inputWorkName" name="inputWorkName" placeholder="Назва роботи..." data-validation-regex-regex=".{3,}" data-validation-regex-message="Мінімальна довжина назви роботи - 3 символи" required></textarea>
          </div>
        </div>

        <div class="row-fluid">
          <div class="span6">
            <label for="selFaculty">Виберіть факультет:</label>
            <select id="selFaculty" name="selFaculty" required>
              <% for (var i = 0; i < faculties.length; i++) { %>
                <option value="<%= faculties[i]['id'] %>"><%= faculties[i]['name'] %></option>
              <% } %>
            </select>
          </div>
          <div class="span6">
            <label for="selDepartment">Виберіть кафедру:</label>
            <select id="selDepartment" name="selDepartment" required>
              <% for (var i = 0; i < departments.length; i++) { %>
                <option value="<%= departments[i]['id'] %>"><%= departments[i]['name'] %></option>
              <% } %>
            </select>
          </div>
        </div>

        <div class="row-fluid">
          <div class="span6">
            <label for="selGroup">Виберіть групу:</label>
            <select id="selGroup" name="selGroup" required>
              <option></option>
              <% for (var i = 0; i < groups.length; i++) { %>
                <option value="<%= groups[i]['id'] %>"><%= groups[i]['name'] %></option>
              <% } %>
            </select>
          </div>
          <div class="span6">
            <label for="selStudent">Виберіть студента:</label>
            <select id="selStudent" name="selStudent" required>
              <option><option>
              <option value="1">Петро Петрович (ніколи його не знадуйте при людях)</option>
              <option value="2">Міфічний студент, якого ніхто ніколи не бачив</option>
              <option value="3">Відмінник</option>
              <option value="4">Студент, який всім надоїв, тому йому автоматом ставлять "задовільно"</option>
            </select>
          </div>
        </div>

        <p>
          <label for="selDefaultTasks">Виберіть етапи виконання роботи:</label>
          <select id="selDefaultTasks" class="bootStrapFullRowElement" name="selDefaultTasks" multiple size="7">
            <option>Вивчення літератури за темою роботи</option>
            <option>Параграф 1</option>
            <option>Параграф 2</option>
            <option>Параграф 3</option>
            <option>Параграф 4</option>
            <option>Вступ та Висновки</option>
            <option>Попередній захист роботи</option>
          </select>
        </p>

    </div>

    <div class="modal-footer">
      <button type="button" class="btn" data-dismiss="modal" aria-hidden="true">Закрити</button>
      <!--
      <button type="submit" class="btn" id="btnAddWorkAndContinue">Зберегти і додати ще</button>
      -->
      <button type="submit" class="btn btn-primary" id="btnAddWork">Зберегти</button>
    </div>
    </form> <!-- End taskCreateForm -->

  </div>
</section>