<section>

  <div id="dialogAddStudentWork" name="dialogAddStudentWork" class="modal hide fade">

    <form id="taskCreateForm">

      <div class="modal-header">
        <button class="close" data-dismiss="modal">×</button>
        <h3>Створення завдання</h3>
      </div>

      <div id="modalBody" class="modal-body">

        <div class="control-group">
          <label class="control-label boldText" for="inputWorkName">1. Введіть назву роботи:</label>
          <div class="controls">
            <textarea class="logForm bootStrapFullRowElement" id="inputWorkName" name="inputWorkName" placeholder="Назва роботи..." data-validation-regex-regex=".{3,}" data-validation-regex-message="Мінімальна довжина назви роботи - 3 символи" required></textarea>
          </div>
        </div>

        <div class="row-fluid">
          <div class="span6">
            <label for="ChainOfChoice1" class="boldText">2. Виберіть факультет:</label>
            <select id="ChainOfChoice1" name="ChainOfChoice1" required>
              <% for (var i = 0; i < faculties.length; i++) { %>
                <option value="<%= faculties[i]['id'] %>"><%= faculties[i]['name'] %></option>
              <% } %>
            </select>
          </div>
          <div class="span6">
            <label for="ChainOfChoice2" class="boldText">3. Виберіть кафедру:</label>
            <select id="ChainOfChoice2" name="ChainOfChoice2" required>
              <% for (var i = 0; i < departments.length; i++) { %>
                <option value="<%= departments[i]['id'] %>"><%= departments[i]['name'] %></option>
              <% } %>
            </select>
          </div>
        </div>

        <div class="row-fluid">
          <div class="span6">
            <label for="ChainOfChoice3" class="boldText">4. Виберіть групу:</label>
            <select id="ChainOfChoice3" name="ChainOfChoice3" required>
              <option></option>
              <% for (var i = 0; i < groups.length; i++) { %>
                <option value="<%= groups[i]['id'] %>"><%= groups[i]['name'] %></option>
              <% } %>
            </select>
          </div>
          <div class="span6">
            <label for="ChainOfChoice4" class="boldText">5. Виберіть студента:</label>
            <select id="ChainOfChoice4" name="ChainOfChoice4" required>
              <option><option>
              <option value="1">Петро Петрович (ніколи його не знадуйте при людях)</option>
              <option value="2">Міфічний студент, якого ніхто ніколи не бачив</option>
              <option value="3">Відмінник</option>
              <option value="4">Студент, який всім надоїв, тому йому автоматом ставлять "задовільно"</option>
            </select>
          </div>
        </div>

        <label class="boldText">6. Виберіть етапи виконання роботи (не обов'язково):</label>
        <label class="checkbox chbDefaultTasks">
          <input type="checkbox" value="111"> Вивчення літератури за темою роботи
        </label>
        <label class="checkbox chbDefaultTasks">
          <input type="checkbox" value="222"> Параграф 1
        </label>
        <label class="checkbox chbDefaultTasks">
          <input type="checkbox" value="333"> Параграф 2
        </label>
        <label class="checkbox chbDefaultTasks">
          <input type="checkbox" value="Параграф 3"> Параграф 3
        </label>
        <label class="checkbox chbDefaultTasks">
          <input type="checkbox" value="444"> Параграф 4
        </label>
        <label class="checkbox chbDefaultTasks">
          <input type="checkbox" value="555"> Вступ та Висновки
        </label>
        <label class="checkbox chbDefaultTasks">
          <input type="checkbox" value="666"> Попередній захист роботи
        </label>

      </div>

      <div class="modal-footer">
        <button type="button" class="btn" id="btnCloseModalWindow" data-dismiss="modal" aria-hidden="true">Закрити</button>
        <button type="submit" class="btn" id="btnAddWorkAndContinue">Зберегти і додати ще</button>
        <button type="submit" class="btn btn-primary" id="btnAddWork">Зберегти</button>
      </div>
    </form> <!-- End taskCreateForm -->

  </div>
</section>