<h3><%= students_of_teach_group[0].group_name %></h3>


<table class="table table-hover .table-condensed">
  <caption><h4>Студенти для підтвердження</h4></caption>
  <tbody>
    <% for ( var i=0; i<students_for_confirm.length; i++ ) {%>
      <tr>
        <td><%= i + 1 %>. <%= students_for_confirm[i]['full_name'] %></td>
        <td><%= students_for_confirm[i]['email'] %></td>
        <td><input type="button" value="Додати" class="btn btn-success"></td>
      </tr>
    <% } %>
  <tbody>
</table>
<br>

<table class="table table-hover .table-condensed">
  <caption><h4>Підтверджені студенти групи</h4></caption>
  <tbody>
    <% for ( var i=0; i<students_of_teach_group.length; i++ ) {%>
      <tr>
        <td><%= i + 1 %>. <%= students_of_teach_group[i]['full_name'] %></td>
        <td><%= students_of_teach_group[i]['email'] %></td>
        <td><input type="button" value="Видалити" class="btn btn-danger"></td>
      </tr>
    <% } %>
  </tbody>
</table>