<h3><%= students_of_teach_group[0].group_name %></h3>

<table class="table table-hover .table-condensed">
  <caption><h4>Студенти для підтвердження</h4></caption>
  <tbody>
    <% for ( var i=0; i<students_for_confirm.length; i++ ) {%>
      <tr model_id ='23'>
        <td><%= i + 1 %>. <%= students_for_confirm[i]['full_name'] %></td>
        <td><%= students_for_confirm[i]['email'] %></td>
        <td>
          <input type="button" value="Додати" class="btn btn-success">
        </td>
        <td>
          <!-- Button for remove student if bad group -->
          <input type="button" value="Відхилити" class="btn btn-danger" data-target="#dialogRejectStudentFromGroup" data-toggle="modal">
        </td>
      </tr>
    <% } %>
  <tbody>
</table>

<!-- Modal dialog for remove student if bad group-->
<div id="dialogRejectStudentFromGroup" class="modal hide fade">
  <div class="modal-header">
    <button class="close" data-dismiss="modal">×</button>
    <h3>Відхилення авторизації студента</h3>
  </div>

  <div class="modal-body">
    <p>Відхилити авторизацію студента <strong><%= students_for_confirm[0]['full_name'] %></strong>?</p>
  </div>

  <div class="modal-footer">
    <a class="btn" href="#" data-dismiss="modal" aria-hidden="true" >Відміна</a>
    <a class="btn btn-danger" href="#" onclick="alert('Студента видалено з групи.')" data-dismiss="modal" aria-hidden="true">Відхилити</a>
  </div>
</div>

<br>

<table class="table table-hover .table-condensed">
  <caption><h4>Підтверджені студенти групи</h4></caption>
  <tbody>
    <% for ( var i=0; i<students_of_teach_group.length; i++ ) {%>
      <tr>
        <td><%= i + 1 %>. <%= students_of_teach_group[i]['full_name'] %></td>
        <td><%= students_of_teach_group[i]['email'] %></td>
        <td>
          <!-- Button for add student to group -->
          <input type="button" value="Вилучити" class="btn btn-danger" data-target="#dialogDeleteStudentFromGroup" data-toggle="modal">
        </td> <!-- End of modal window -->
      </tr>
    <% } %>
  </tbody>
</table>

<!-- Modal dialog for button Delete student form teacher group-->
<div id="dialogDeleteStudentFromGroup" class="modal hide fade">

  <div class="modal-header">
    <button class="close" data-dismiss="modal">×</button>
    <h3>Вилучення студента з групи</h3>
  </div>

  <div class="modal-body">
    <p>Вилучити студента <strong><%= students_of_teach_group[0]['full_name'] %></strong> з групи <strong><%= students_of_teach_group[0].group_name %></strong>?</p>
  </div>

  <div class="modal-footer">
    <a class="btn" href="#" data-dismiss="modal" aria-hidden="true" >Відміна</a>
    <a class="btn btn-danger" href="#" onclick="alert('Студента видалено з групи.')" data-dismiss="modal" aria-hidden="true">Вилучити</a>
  </div>
</div>