  <div class="row-fluid row-headline">
    <h1 class="span12 text-center template_title">
      <%= header %>
    </h1>
  </div>
  <div class="row-fluid row-progress row-tile-list">

    <div class="template_header">
      <a href ='#'><%= subheader_1 %>  </a>|
      <a href ='#'><%= subheader_2%> </a>|
      <a href ='#' ><%= subheader_3%> </a>
    </div>
    <div class="template_chart" >
     <img id="group_progress_chart" src="i/chart_example.png" >
   </br>

 </div>

 <div class="entities_list " >
  <ol>
    <% _.each(entities, function(entity, id){ %>
    <li>
      <div class="entity" style="float:left; margin-right:25px">
         <%= entity.get('name_with_url') %> <%= entity.get('count') %></div>
          <div class="progress progress-striped">
        <div class="bar" style="width:  <%= entity.get('progress') %>%;"></div> </div>
      </li>
      <% }); %>
    </ol>
  </br></br>
</div>
