<tr class="model new-item" id="model_<%= entity.get('id') %>">
            <td>     
            	<input name='name'/>
            </td>
            <td>
                <select name='teacher_id'>
                  <% _.each(teachers, function(teacher){ %>
					  <option value="<%= teacher.get('id') %>">
			        <%= teacher.get('name') %></option>   
                  <% }) %> 
                </select>              
            </td>
            
            <td>
                <select class='toggle-input' name='faculty_id'>
            	  <% _.each(faculties, function(faculty){ %>
					  <option value="<%= faculty.get('id') %>">
			        <%= faculty.get('name') %></option>
                  <% }) %>
                </select>              
            </td>
            <td class='text-center'>
<button class='btn btn-success'>Create</button>
            </td>
 </tr>