  <%=table %>
  <div class='span12 text-left departments-buttons'>
    <button class='btn btn-primary' id='newDepartment'>New Department</button>
    <button class='btn open-modal-import' type="button" data-toggle="modal" data-target='menage-department-import'>Import (coma seporated)</button>
    <div class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" id='menage-department-import'>
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Import Departments</h3>
      </div>
      <div class="modal-body">
        <p class='a-litle-hint'>Type in new departments, and separate them by commas. For example "DepartmentName DepartmentHead DepartmentFaculty, AnotherDepartmentName AnotherDepartmentHead......., and so on."</p>
        <p><textarea rows="10" cols="45" name="text"></textarea></p>
      </div>
      <div class="modal-footer">
        <button class="btn close-m">Import</button>
      </div>
    </div>
  </div>
</div>
