<div id='fa-roles'>
  <div class='row-fluid'>
    <input id='new-role' placeholder='Enter new role name'></input>
    <input id='new-name' placeholder='Enter new role name'></input>
    <button class='btn pull-left'>New User</button>
  </div>
  <div class='row-fluid'>
    <table>
      <thead>
        <tr>
          <th>User Name</th>
          <th>Role</th>
        </tr>
      </thead>
      <tbody id='main'>
        <tr id='roles-list'>
          <td>Andrew</td>
          <td>Student</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>