  <% var first = true %>
  <% for(var entity in entities) { %>
  	<% if(first == true){ %>
  	<tr id="new_entity">
  	  
      <% for(var field in entities[entity]){ %>
          <% if ($.inArray(field, entities[entity]['visible_fields']) > -1) { %>
            <td>

            <% //--------if it is a text field %>
            <% if (!($.inArray(field, entities[entity]['selectbox_items']) > -1)){ %>
              <input type="text" name="<%=field %>" class='toggle-input input-large' value="<%= entities[entity][field] %>"/>

            
            <% //--------if it is a select field %>
            <% } else { %>
            
              <select class='toggle-input input-large' name="<%= field %>">
                <% var options_array = entities[entity][field+'_collection'];
                  
                  for (i=0; i<options_array.length; i++){ %>
                  	
                  	<% //print options from loaded collection %>
                    <option value="<%= entities[entity][field] %>"><%= options_array[i]['name'] %></option>
                  	
                  <% } %>
              </select> 
                 
            <% } %>
            
          </td>
          
          <% } %>
      <% } %>
          <td>
          	<button class='btn btn-success' id='create_button'>Create</button>
          </td>
      <% } %>
      
    </tr>
    <% first = false %>
  <% }; %>


