<table class="table">
<tr>
<% for(var d_item in data) { %>
	
	 <% for ( var d_field in d_item ){ %>
    <th>
      <%= data[d_item].label %>
    </th>
    <% } %>

<% } %>
</tr>  
  
  
  <% for(var item in entity) { %>	
  	
    <tr>
  	  
	
	
     <% for(var d_item in data) { %>
		
		
			<% for ( var d_field in d_item ){ %>
		      

		      
		      <% for (var field in item){ %>
		      		<% var lin = data[d_item]._link %>
		      		
		      		<%if (data[d_item]._link){ 
		      	      console.log(lin);
		      	      console.log(entity[item][lin])
		      	    }%>

		      <%if (data[d_item]._link){ 
		      	//console.log(lin);
		      	//console.log(item[field])
		      	//console.log(item[field])
		      	%>
		      	
		      	<td>
		      	    
		      	    <%= entity[item][lin] %>
		      		
		        </td>
		        
		      <% } %>
		
		
				
		             <% var a = entity[item][lin];%>
			     
			     
			     
			     <% } %>
		      
		      
		      
		      
		      
		   
		    <% } %>

        <% } %>


	
	
	
	
	
	
	</tr>	
	
  <% }; %>
  
</table>