<!--Info-->    

<h3 class="text-center">Чисельне ровязування динамічних багатозначних задач різноманітними методами сучасної науки</h3>
<h4 class="text-center">Корнедлій Васильович Джміль, Тиміш Сергій Вікторович</h4>
<h5 class="text-center">канд. ф-м. н., доцент кафедри інформаційних систем</h5>

<a href="#myModal" role="button" class="history-modal" data-toggle="modal">Історія</a>

<!--Tasks-->

<% _.each(worktasks, function(worktask) {%>
<div id="task-progress"> 
	<p class="pull-left goback-progress-l"><%= worktask.get("name") %></p>
	<div class="progress">
	    <div class="bar" style="width:<%= worktask.get("percentage") + "%" %>;"></div>
	</div>
</div>
<% }); %>

<!--Create Task Form-->

<form>
	<fieldset>
	<legend>Створити завдання</legend>
	<label>Назва завдання</label>
	<input class="input-xxlarge" type="text">
	<button type="submit" class="create-btn" id="">Створити</button>
	</fieldset>
</form>