
<section id="launch" class="gradient">
	<div class="form-header">
		<h3>Залогуйтесь</h3>
	</div>
	<div class="form-body">
		<form id="logForm" class="form-horizontal">

			<div class="control-group">
				<label class="control-label" for="inputLoginLog">Email</label>
				<div class="controls">
					<input type="text" class="logForm" name="user[email]" required id="inputLoginLog" placeholder="email..." data-validation-regex-regex="^[\w\.-_\+]+@[\w-]+(\.\w{2,4})+$" data-validation-regex-message="Будь-ласка введіть валідний email ">
				</div>
			</div>

			<div class="control-group">
				<label class="control-label" for="inputPasswordLog">Пароль</label>
				<div class="controls">
					<input type="password" class="logForm" name="user[password]" required id="inputPasswordLog" placeholder="Введіть свій пароль" name="password" data-validation-regex-regex="\w{8,}" data-validation-regex-message="Мінімум 8 символів">
				</div>
			</div>

			<div class="control-group">
				<div class="controls">
					<label class="checkbox" id="form-checkbox">
						<input id="rememberMe" type="checkbox" value="1" name="user[remember_me]">Запам'ятати мене
					</label>
					<input id="sendFormLog" type="submit" class="btn btn-primary" value='Увійти'>
				</div>
			</div>
		</form>
	</div>
	<div class="form-footer">
		<a id="close-btn" class="btn btn-danger small-btn">Закрити</a>
		<a href="#/sign_up" id='sign-up-louncher' role='button' class='pull-right'>Зареєструватись</a>
	</div>
</section>

