<div class='row-fluid' id="yasinishyn-table">
      <div class='page-header'>
        <h1 class='text-left'>Faculty(or whaterever)</h1>
      </div>
      <div class='table-controls'>
        <ul class="nav nav-pills">
          <li><a href="#", class='table-controll-link may-controll' id='add'>Add</a></li>
        </ul>
      </div>
      <table class="table table-striped table-bordered" id='my-table'>
        <thead>
          <tr>
            <th>Name</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <%_.each('users', function(user){%>
            <tr class='user'>
              <td><%= user['name']%></td>
              <td class='form-controls'>
                <ul class="table-controls-uls">
                  <li><a href="#", class='table-controll-link' id='edit'>Edit</a></li>
                  <li><a href="#", class='table-controll-link' id='delete'>Delete</a></li>
                </ul>
              </td>
            </tr>
          <%});%>
        </tbody>
      </table>
    </div><!--end id yasinishyn-tabel -->