<!DOCTYPE HTML>
<html>
<head>
  <title>default</title>
  <link rel="stylesheet" href="css/bootstrap-select.css">
  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="css/bootstrap-responsive.css">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/jquery-ui.css"> 
  <link rel="stylesheet" href="css/bootstrap-wysihtml5.css"> 
  
  <!--this file loads everything-->
  <script data-main="app/main" src="app/libs/require/require.js"></script>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= yield(:head) %>
</head> 
<body>
  <div class="wrapper">
    <div class="sub-wrapper">
      <header>
        
            <div class="navbar">

              <div class="navbar-inner">

               
                <div class="logo_box">
                  <a class="brand" href="#">WebUI-092</a>
                </div>

                <div class="menu_box">
                  <ul id="main-top-menu" class="nav">
                    <li><a id="page-link" class="page-link" href="#/">На головну</a></li>
                    <li><a id="infopage-link" class="page-link" href="/#/info">Інформація про систему</a></li>
                    <li id="search"><a id="searchpage-link" class="page-link" href="/#/search">Пошук</a></li>
                  </ul>
                </div>


                  <div id="authBox" class="authBox">
                    <a href="#" id="launch-btn" class="btn btn-primary pull-right">Увійти</a>
                  </div>
                  <div class="yearBox">
                    <form class="form-horizontal">
                      <div class="control-group">
                        <label class="control-label" for="sel-year">Навч. рік: </label>
                        <div class="controls">

                          <select id="sel-year">
                            <option>2011-2012</option>
                            <option>2012-2013</option>
                            <option>2013-2014</option>
                          </select>

                        </div>
                      </div>
                    </form>
                  </div>


              </div>

            </div>
      </header>
      <ul class="breadcrumb"></ul>

      <article class="text-center">
        <div id ="content" class="container">
          
            <!-- all content goes here -->
              
        </div>
      </article>
    </div>
  </div>
  <footer>
    <div class="container">
      <div class="row">
        <div class="span12 text-center">
          ЛНУ ім І.Франка, кафедра інформаційних систем 2013 &copy;
        </div>
      </div>
    </div>
  </footer>
</body>
  <script type="text/javascript">
    //receive current user
  </script>
</html>
